{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Luchbox</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            {% if view.request.user.is_authenticated %}
              <span class="navbar-brand">{{ view.request.user.username }}</span> |
              <a class="navbar-brand" href="{% url "core:logout" pk=view.request.user.pk %}">Logout</a>
            {% endif %}
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div id="restuarants-placeholder" class="container">
        <img src="{% static 'core/loader.gif' %}"/>
    </div>

    <div class="container">
       {% crispy form %}
      <!-- Example row of columns -->
      {% for person in object_list %}
          {% if forloop.first %}
              <ol>
          {% endif %}
          <li><a href="{% url "core:login" pk=person.pk %}">{{ person.username }}</a></li>
          {% if forloop.last %}
              </ol>
          {% endif %}
      {% empty %}
          <div class="alert alert-warning">
              <strong>{% trans "Warning!" %}</strong> {% trans 'Nobody wants to eat yet' %}
          </div>
      {% endfor %}
      </div>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->
        {% verbatim %}
        <script id="restaurant-template" type="text/html+x-handlebars-template">
            <ol>
                {{#each restaurants}}
                    <li>
                        <a href="{{ restaurant.value }}">{{ label.value }}</a>
                        <span class="cuisine">{{ cuisine.value }}</span>
                    </li>
                {{/each}}
            </ol>
        </script>
        {% endverbatim %}
        <script id="rando-rest-query" type="application/sparql-query+x-handlebars-template">
            SELECT DISTINCT(?cuisine) ?restaurant ?label ?long ?lat
            WHERE 
            {
                ?restaurant a lgdo:Restaurant ;
                    lgdo:cuisine ?cuisine ;
                    rdfs:label ?label ;
                    geo:long ?long ;
                    geo:lat ?lat .
            }
            ORDER BY (MD5(fn:concat(?long, ?lat, '{date}')))
            LIMIT 10
        </script>
        <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
        <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script type="application/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="https://rawgithub.com/graingert/sparql.js/master/sparql.js"></script>
        <script type="application/javascript" src={% static 'core/rando-rest.js' %}></script>
    </body>
</html>
