{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      {% for restaurant in object_list %}
          {% if forloop.first %}
              <ol>
          {% endif %}
          <li data-id="http://foobar.com" class="votable">
          <h3><img src="http://placekitten.com/100/100"/>
          {{ restaurant.name }}</h3>
          </li>
          {% if forloop.last %}
              </ol>
          {% endif %}
      {% empty %}
          <div class="alert alert-warning">
              <strong>{% trans "Warning!" %}</strong> {% trans 'Nobody wants to eat yet' %}
          </div>
      {% endfor %}
      </div>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->

{% endblock content %}
